/* Pedaços do site estão integrados com a biblioteca de CSS:  Bulma CSS  */
/*Este é  o ficheiro css correspodente à estilização global da aplicação */
/* Background */
.bg{

    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgb(32, 121, 143) 0%, 
          rgb(53, 91, 117) 25%, 
          rgb(43, 43, 43) 51%, 
          rgb(27, 27, 27) 100%
    );  
    animation: AnimateBG 20s ease infinite;
  }

  
.bg.error{
    background-image: linear-gradient(
        -45deg, 
        rgb(194, 29, 29) 0%, 
        rgb(167, 64, 64) 25%, 
        rgb(43, 43, 43) 51%, 
        rgb(27, 27, 27) 100%
  );     
}

.bg.success{
    background-image: linear-gradient(
        -45deg, 
        rgb(35, 78, 26) 0%, 
        rgb(53, 117, 67) 25%, 
        rgb(43, 43, 43) 51%, 
        rgb(27, 27, 27) 100%
  );     
}

/* Animação do background */

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.columns.bg{
  margin: 0 auto;
}

.login_reg{
  margin: 0 2em;
}


/* Logout button */

.button.action{
  background-color: #a6507b ;
  color: white;
  font-weight: bold;
  border:0;
  transition: 0.3s all;   
}

.button.action:hover{
  background-color: #b28b22;

}




@media ( min-width: 768px){
  .bg{
    height:100vh;
  }
  .login_reg{
    margin: initial;
  }
}